@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">QA Overview</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Welcome to your admin dashboard!</li>
    </ol>
</div>

<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                Active Test Environments
                <h2>@Model.TotalActiveEnvironments</h2>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="TestEnvironments/Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">
                Total Bugs Logged
                <h2>@Model.TotalBugsLogged</h2>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="BugReports/Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>