@page
@model SWQA.Pages.TestEnvironment.EditModel
@{
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Edit Test Log Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            You can edit your test environment details here.
        </li>
    </ol>
</div>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}


<form method="post">
    <input type="hidden" name="TableId" value="@Model.testenvironment.TableId" />

    <div class="row mb-3">
        <label class="col-sm-3">Server IP</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ServerIp" value="@Model.testenvironment.ServerIp" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3">Operating System</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="OperatingSystem" value="@Model.testenvironment.OperatingSystem" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3">Status</label>
        <div class="col-sm-6">
            <input list="statusoptions" class="form-control" name="IsActive" />
            <datalist id="statusoptions">
                <option value="True" />
                <option value="False" />
            </datalist>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-danger" href="/TestEnvironment/Index" role="button">Cancel</a>
        </div>
    </div>
</form>